<!DOCTYPE html>
<!-- saved from url=(0064)file:///C:/Users/chenliru/Downloads/Project%20Website/about.html -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>UTMIST Project Team</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="http://webthemez.com">
<!-- css -->
<link href="bootstrap.min.css" rel="stylesheet">
<link href="jquery.fancybox.css" rel="stylesheet">
<link href="jcarousel.css" rel="stylesheet">
<link href="flexslider.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">
 
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper">

	<!-- start header -->
		<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                  <a class="navbar-brand" href="about"><img src="team_logo3.jpg" alt="logo"></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li><a href="home">Home</a></li> 
						<li><a href="#">Gesture Recognition</a></li>
                        <li><a href="contact">Hand Tracking</a></li>
                        <li><a href="/">Applications</a></li>
						<li class="active"><a href="about">About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>

			<style>
			p {
			  display: block;
			  margin-top: 1em;
			  margin-bottom: 1em;
			  margin-left: 5em;
			  margin-right: 5em;

			}
			</style>

	</header><!-- end header -->
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">About Us</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
					
					<div class="about">
					
						<div class="row"> 
							<div class="col-md-12">
								<div class="about-logo">
									<!-- <h3>We are awesome <span class="color">TEAM</span></h3> -->
									<p>We are a part of University of Toronto Machine Intelligence Student Team (UTMIST), a group of students who are interested in AI and their applications. </p>
								</div>
						<!--		<a href="about.html" class="btn btn-color">Read more</a>  -->
							</div>
						</div>
						
						<hr>
						<br>

						 
						<br>
						<!-- Our Team starts -->
				
						<!-- Heading -->
						<div class="block-heading-six">
							<h4 class="bg-color">Meet the Team</h4>
						</div>
						<br>
						
						<!-- Our team starts -->
						
						<div class="team-six">
							<div class="row">
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<a href="https://www.linkedin.com/in/chaojun-chen/" target="_blank"><img class="roundedImage" src="Vicky.jpg" alt=""> </a>
										<!-- Name -->
										<h5>Chaojun(Vicky) Chen</h5>
										<span class="deg">Project Director</span>
									</div>
								</div>

								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<a href="https://www.linkedin.com/in/charles-yuan-746837128/" target="_blank"><img class="roundedImage" src="Charles.jpg" alt=""> </a>
										<!-- Name -->
										<h5>Charles Yuan</h5>
										<span class="deg">Project Developer</span>

									</div>
								</div>

								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<a href="https://www.linkedin.com/in/iris-tang-9809/" target="_blank"><img class="roundedImage" src="Iris.jpg" alt=""></a>
										<!-- Name -->
										<h5>Yiyan (Iris) Tang</h5>
										<span class="deg">Project Developer</span>
									</div>
								</div>

								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
								<div class="team-member">
										<!-- Image -->
										<a href= "https://www.linkedin.com/in/yue-kathy-zhuang/" target="_blank"><img class="roundedImage" src="Kathy.jpg" alt=""></a>
										<!-- Name -->
										<h5>Yue (Kathy) Zhuang </h5>
										<span class="deg">Project Developer</span>
									</div>
								</div>


								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<a href="https://www.linkedin.com/in/mustafarehanahmadkhan/" target="_blank"><img class="roundedImage" src="Mustafa.jpg" alt=""></a>
										<!-- Name -->
										<h5>Mustafa Khan</h5>
										<span class="deg">Project Developer</span>
									</div>
								</div>

								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<a href="https://www.linkedin.com/in/hetav-pandya/" target="_blank"><img class="roundedImage" src="Hetav.jpg" alt=""></a>
										<!-- Name -->
										<h5>Hetav Pandya</h5>
										<span class="deg">Project Developer</span>
									</div>
								</div>
							</div>
							<!-- 	</div>
								</div> -->

							</div>
						<!-- Our team ends -->
					  

					</div>
									
				</div>
	</section>
	<footer>
	
	
	</footer>
</div>
<a href="about" class="scrollup" style="display: none;"><i class="fa fa-angle-up active"></i></a>

</body></html>