<!DOCTYPE html>
<!-- saved from url=(0069)file:///C:/Users/chenliru/Downloads/Project%20Website/team_index.html -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<title>UTMIST Project Team</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="http://webthemez.com">
	<!-- css -->
	<link href="bootstrap.min.css" rel="stylesheet">
	<link href="jquery.fancybox.css" rel="stylesheet">
	<link href="jcarousel.css" rel="stylesheet">
	<link href="flexslider.css" rel="stylesheet">
	<link href="owl-carousel/owl.carousel.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
	<div id="wrapper">
		<!-- start header -->
		<header>

			<style>
				p {
				  display: block;
				  margin-top: 1em;
				  margin-bottom: 1em;
				  margin-left: 5em;
				  margin-right: 5em;

				}
			</style>

			<div class="navbar navbar-default navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
						<!--	<span class="icon-bar"></span>
							<span class="icon-bar"></span> -->
						</button>
						<a class="navbar-brand" href="home"><img src="team_logo3.jpg" alt="logo"></a>
					</div>
					<div class="navbar-collapse collapse ">
						<ul class="nav navbar-nav">
							<li class="active"><a href="home">Home</a></li>
							<li><a href="#">Gesture Recognition</a></li>
							<li><a href="contact">Hand Tracking</a></li>
							<li><a href="/">Applications</a></li>
							<li><a href="about">About Us</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<!-- end header -->
		<section id="inner-headline">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="pageTitle">Gesture Recognition and Motion Tracking</h2>
				</div>
			</div>
		</div>
		</section>
		<section id="content">

		<div class="content_white">
		<!-- 	<h2>Welcome!</h2>
			<h1>
			Gesture Recognition and Motion Tracking
			</h1>-->

			<p margin-top: 1em;>
				This project explored the field of Touchless User Interface (TUI) and focuses on three main tasks: Hand gesture recognition, Hand tracking, and their application.
				The objective is to control computer and robotic car via hand gestures and motion without touching a keyboard, mouse or screen.
			<p>
			<p align = 'left'>
				By implementing different Neural Networks, the team successfully created a touchless interface and explored the different dynamic of Human-computer interaction. You can find more information about the models and their results
				on subsequent webpage.
			<p>
			<p padding-bottom = 3em;>
				2020 is an unusual year, in the midst of COVID-19, touching different surfaces frequently might not be a good idea. Thus, contactless interfaces can be
				an area of future development. We hope this project will inspire the growth of other ideas and we hope to apply our knowledge to create applications that will add value to the society at large.
			<p>
			<br>

		</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<!-- Team Member -->
					<div class="team-member">
						<!-- Image -->
						<a href="home"><img class="img-responsive" href="home" src="teamv2.jpg" alt=""></a>
						<!-- Name -->
						<!--<h4>Robort AI Team</h4> -->
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<!-- Team Member -->
					<div class="team-member">
						<!-- Image -->
						<a href="https://utmist.gitlab.io/"><img class="img-responsive" src="utmist.svg" alt=""></a>
						<!-- Name -->
					<!--	<h4>UTMIST</h4> -->
					</div>
				</div>
								
								
			</div>
		
		<footer></footer>
	</div>

</body></html>